<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="AccountingStore_DBEntities" connectionString="metadata=res://*/StoreAccounting_DbEn.csdl|res://*/StoreAccounting_DbEn.ssdl|res://*/StoreAccounting_DbEn.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=AccountingStore_DB;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>